<div class="row">
 	<div class="col-xs-12">
		Brought to you by the <a href="http://www.opendemocracy.org.za/">Open Democracy Advice Center</a> | <%= _('Powered by <a href="http://www.alaveteli.org/">Alaveteli</a>') %> | Implemented by <a href="http://10layer.com">10Layer</a>
	</div>
</div>