<h2>News</h2>
<% 
require 'rss'
require 'open-uri'

open('http://www.opendemocracy.org.za/feed/rss/') do |rss|
	feed = RSS::Parser.parse(rss)
	feed.items.each do |item|
		%>
		<div class="col-md-6">
			<h3><a href="<%= item.link %>"><%= raw item.title %></a></h3>
			<p><%= raw item.description %></p>
		</div>
		<%
		puts "Item: #{item.title}"
	end
end
%>

