<h1>Make a request</h1>
<a class="btn btn-primary" href="<%= select_authority_path %>"><%= _("Start now &raquo;") %></a>
<p>Type in the name of the South African public authority you'd like information from. By law they have to respond.</p>
