<h1>Make a Request</h1>
<%= form_tag({:controller => "request", :action => "select_authority"}, {:id => "search_form", :method => "get"}) do %>
       <div>
       		<input type="text" name="query" size="30" placeholder="Search for authority" />
           
           <%= hidden_field_tag 'bodies', 1 %>
           <input type="submit" name="submit" class="btn btn-primary" value="Search" />
       </div>
    <% end %>
<p>Type in the name of the South African public authority you'd like information from. By law they have to respond.</p>
