body {
}

#askafricatheme {

	font-family: "Melbourne", "Helvetica-neue", "Helvetica", "Arial", "sans-serif";
	font-size: 14pt;

	h1, h2, h3, h4, h5 {
		color: #FFF;
		font-family: "Melbourne", "Helvetica-neue", "Helvetica", "Arial", "sans-serif";
	}

	h1 {
		font-size: 30pt;
	}

	h2 {
		font-size: 20pt;
	}

	.btn {
		font-size: 12pt;
	}

	margin-top: 10px;

	#search-icon {
		margin-top: 35px;
		color: #221f1f;
	}

	.navbar-toggle {
		margin-top: 40px;

		.icon-bar {
			background-color: #221f1f;
		}
	}

	.navbar-default {
		background: none;
		border: none;
	}

	#frontpage_promo {
		background: #221f1f url("/alavetelitheme/images/backgrounds/schoolkids/x-large.jpg") no-repeat center 0px;
		background-size: 150%;
		// background-attachment: fixed;


		min-height: 350px;
		
		
	}

	#frontpage_splash {
		background-color: #221f1f;
		h1, h2, h3, h4, h5 {
			color: #FFF;
		}
		color: #CCC;
		padding-bottom: 40px;
	}

	#frontpage_examples {
		background: #221f1f url("/alavetelitheme/images/bg1.jpg") repeat 0 0;
		color: #CCC;
		h1, h2, h3, h4, h5 {
			color: #FFF;
		}
	}

	footer {
		background: #221f1f url("/alavetelitheme/images/bg1.jpg") repeat 0 0;
		padding: 50px 0px;
		color: #CCC;
		a {
			color: #FFF;
			// text-decoration: underline;
		}
	}

	#wrapper {
		background-color: #221f1f;
		color: #CCC;
		padding: 0px 0px 50px 0px;
		a {
			color: #FFF;
			// text-decoration: underline;
		}
		h1, h2, h3, h4, h5 {
			color: #FFF;
		}
	}

	#news {
		background-color: #FFF;
		background-image: none;
		color: #000;
		h1, h2, h3, h4, h5, p {
			color: #000;
		}
		a {
			color: #428bca;
		}
	}

}

#banner {
	background: none !important;
}

#topnav {

}

#topnav li a,#topnav li a:visited {

}

#topnav li a:hover {

}

#topnav ul li.selected {

}

#topnav ul li a {

}

#logged_in_bar {

}

#logged_in_bar a,#logged_in_bar a:visited {

}

h1,h2,h3 {
}

h1 {
}

h2 {
}


h2,dt {
}

h3 {
}

a {
}

p.subtitle {
}

.request_listing span.head a,.user_listing span.head a,.body_listing span.head a {
}

.request_listing span.desc {
}

.feed_link a,.act_link a,#header_right > a {
}

#request_form label,label.form_label,span#to_public_body {
}

span#to_public_body {
}

#middle_strip {
}

#stepwise_make_request {
}

div.comment_in_request {
}

#request_form label,label.form_label {
}

#navigation_search input[type=text] {
}


form input[type=submit],a.link_button_green,a.link_button_green_large {
}

div.frontpage-box {
}


div.correspondence,div.comment_in_request {
}

div.outgoing.correspondence {
}

#frontpage_splash {
}

#frontpage_splash h1 {
}

#frontpage_splash h1 strong {
}

#frontpage_splash h1 span {
}

#frontpage_splash h2 {
}

#frontpage_splash h2 strong {
}

#frontpage_splash h2 span {
}


#ui-datepicker-div.ui-widget {
}

#ui-datepicker-div .ui-datepicker-header,#ui-datepicker-div .ui-widget-header {
}

#ui-datepicker-div .ui-state-default:hover {
}

#ui-datepicker-div .ui-state-active {
}

#other-country-notice {
}

p.public-body-name-prefix {
}

#other-country-notice a {
}


#link_box {
}

#link_box .close-button {
}

div.correspondence p.preview_subject {
}

div.correspondence p.preview_subject strong {
}

div.controller_help h1 a,#logged_in_bar a,#logged_in_bar a:visited,#stepwise_make_request strong {
}

body.front {
}

.request_listing span.desc {
}

#frontpage_examples .excerpt {
}