#askafricatheme {
  font-family: "Melbourne", "Helvetica-neue", "Helvetica", "Arial", "sans-serif";
  font-size: 13pt;
}
#askafricatheme h1,
#askafricatheme h2,
#askafricatheme h3,
#askafricatheme h4,
#askafricatheme h5 {
  color: #FFF;
  font-family: "Melbourne", "Helvetica-neue", "Helvetica", "Arial", "sans-serif";
}
