<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">Introduction</h1>
	<p>AskAFRICA is a simple solution to a consistent problem. The Promotion of Access to Information Act 2 of 2000 is a law passed by the South African government, which allows you to request information from government. But the law can be cumbersome to use - and requires you to fill in certain forms, and follow certain timelines.</p>
	<p>To simplify this process, we created AskAfrica - which automates the whole process, and allows you some tools to analyse records when you receive them.</p>
	<p>At ODAC, we have been working on improving the implementation of this law since its inception in 2000 and we see this website as a way of curing many of the problems we ourselves have experienced when trying to access information.</p>
	<p>To help you even more:
		<ul>
			<li><a href="http://www.justice.gov.za/legislation/acts/2000-002.pdf" target="_blank">Download a copy of the Promotion of Access to Information Act.</a></li>
			<li>Download a summary document on using the Promotion of Access to Information Act (under construction).</li>
			<li>Download the user manual for AskAfrica (under construction).</li>
		</ul>
	</p>
	<p>This Project has been funded by the African Media Institute and the Indigo Trust. We are exceptionally grateful for their support, and their commitment to making transparency real for everyday citizens.</p>

  <p><strong>Next</strong>, read about <a href="<%= help_requesting_path %>">making requests</a> --&gt;

  <div id="hash_link_padding"></div>
</div>
