<% @title = "Credit where credit's due" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="credits"><%= @title%></h1>

  <dl>
    <dt id="thanks">Which people made AskAfrica? <a href="#thanks">#</a> </dt>
    <dd>We have a lot of people to thank... 
        <ul>
            <li>
                All the ODAC staff who have made this possible, including Gabriella Razzano, Mukelani Dimba, Alison Tilley, Radiyah Hendricks, and Pumla Sithole (go team!)
            </li>
            <li>
                Our funders:
                <li>The African Media Initiative, through the African News Innovation Challenge, and their team members Justin Arenstein and Nqobile Sibisi</li>
                <li>Indigo Trust, and their team members Loren Treisman and Louise Vickers</li>
            </li>
            <li>
                The AWESOME team at Alaveteli, not least of all:
                    <li>Paul Lenz of the incredible shirts</li>
                    <li>Dave Whiteland, King of Horse</li>
                    <li>Abi Broom, for general awesomeness</li>
                    <li>Mike Longair</li>
            </li>
            <li>
                Jason Norwood-Young of 10layer for the development of the site
            </li>
            <li>
                DocumentCloud - for keeping their API open and allowing us to build our document repository component
            </li>
        </ul>
    </dd>
    <dd>More broadly, our work on AskAfrica would not have been possible without:
        <ul>
            <li> 
                Volunteers who have provided patches to the code - and others on the Alaveteli support group 
            </li>
            <li>
                Everyone who has helped look up FOI email addresses, such a Stephanie van der Mey, Adi Eyal, and the South African History Archive
            </li>
            <li>
                Finally, all the officers and servants who have answered the many requests made through the site. Their diligence, patience and professionalism is what has actually made the information that you see here. Thank them for helping make Government more transparent.
            </li>
        </ul>
        Much love from Sunny Cape Town.
    </dd>

    <dt id="helpus">Can I help out? <a href="#helpus">#</a> </dt>
    <dd>
        <p>Yes please! We're built out of our supporters and volunteers.</p>
        <ul>
            <li><a href="http://opendemocracy.org.za/">You can make a donation to ODAC</a> to help raise funds for administration (seriously, we’d love it!)</li>
            <li>Help people find successful requests, and monitor performance of authorities, by 
            <a href="/categorise/play">playing the categorisation game</a>. </li>
            <li>Find out PAIA email addresses of <a href="/help/requesting#missing_body">authorities that we're missing</a>.</li>
            <li>Write a blog post about either AskAfrica or an interesting request that you've
            found. Post about it on a forum that you frequent. Tell friends about it.</li> <li>If you're
            a programmer, get the source code for our parent project, <a href="http://alaveteli.org">Alaveteli</a>
            and tell us about patches we can pull. It's made in Ruby on Rails.
        </ul>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>